tqdm
gdown
json-tricks
torch
opencv-python
prettytable
scipy
torchvision
nvidia-pyindex
onnx-graphsurgeon
numpy==1.24.4
matplotlib
easydict
PyYAML
tensorboardX
vedo
imageio
timm==0.8.13.dev0
lapx>=0.5.2
pillow
fastapi
uvicorn
python-multipart
opencv-contrib-python-headless==4.5.5.64
requests
pyrealsense2
pyzmq
